#github {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 200px;
  height: 70px;
  color: #434343;
  text-decoration: none;
  font-weight: bold;
}

#github img {
  vertical-align: middle;
}

#londo {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 200px;
  height: 70px;
  color: #767676;
  text-decoration: none;
  font-weight: bold;
}

#londo img {
  vertical-align: middle;
}

